[access]
	inheritFrom = All-Projects
[project]
	description = This repository contains Requirements for  VNFs for use with the ONAP platform
[access "refs/*"]
	owner = group ldap/onap-gerrit-vnfrqts-requirements-committers
	owner = group saml/onap-gerrit-vnfrqts-requirements-committers
	read = group GitHub Replication
[receive]
	maxObjectSizeLimit = 20971520
