# Compatibility
setuptools>=65.0.0

# Core Sphinx
sphinx>=7.1.2
sphinx-rtd-theme>=2.0.0

# Diagram extensions
sphinxcontrib-mermaid>=1.0.0
sphinxcontrib-plantuml>=0.27

# Sphinx-needs (VNF requirements)
sphinxcontrib-needs
